.main {
  height: 100%;
  width: 100%;
  // background-color: #f9f9f9;
  position: absolute;
}

.content {
  max-width: 37.5rem;
  margin: auto;
}

.blobs {
  background-color: white;
  height: 400px;
  width: 400px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 0 16px white;
  position: relative;
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }
}
