// Wrapper for the application -- literally the "main" element
.main {
  height: 100%;
  width: 100%;
  background-color: #f9f9f9;
  position: absolute;
  overflow: hidden;

  @media (prefers-color-scheme: dark) {
    background-color: $gray-5;
  }
}

// Basic Padding
.frame {
  display: flex;
  max-width: 375px;
  height: 100%;
  margin: auto;
  justify-content: flex-start;
  align-items: flex-start;

  > * {
    gap: 6.4rem;
  }

  @media screen and (min-width: $media-sm) {
    align-items: center;
  }
}

// Holds all content
.view {
  width: 100%;
  padding: 0;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  padding: 0;

  @media screen and (min-width: $media-sm) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}

.glass {


}