// VARIABLES //

$orange: #f15025;
$blue: #05299e;
$gray-0: #fdfdfd;
$gray-1: #e6e8e6;
$gray-2: #ced0ce;
$gray-3: #737473;
$gray-4: #454645;
$gray-5: #171817;

$max-width: 1184px;

$media-sm: 640px;
$media-md: 768px;
$media-lg: 1024px;
$media-xl: 1280px;
$media-2xl: 1536px;

@import "mixins";
