.container {
  display: flex;
  padding: 0.8rem 1.2rem;
  gap: 0.8rem;
  align-items: center;
  border-radius: 2rem;
  padding: 0.8rem 1.6rem 0.8rem 1.2rem;
  width: fit-content;

  &:focus {
    outline: $blue 2px solid;
  }

  @media (hover: hover) {
    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
  }
}

.circle {
  height: 3.2rem;
  min-width: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;

  svg {
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    transition: transform 0.1s ease-out;
  }

  &:focus {
    outline: currentColor 2px solid;
    svg {
      transform: scale3d(1, 1, 1) !important;
    }
  }

  &:active {
    svg {
      transform: scale3d(1, 1, 1) !important;
    }
  }

  @media (hover: hover) {
    &:hover {
      svg {
        transform: scale3d(1.1, 1.1, 1);
      }
    }
  }
}