.underline {
  height: 4px;
  width: 10px;
  background-color: $gray-0;
}


.links {
  display: flex;
  gap: 0.8rem;

  a {
    width: fit-content;
    opacity: 0.75;
    transition: 0.1s;

    &:active:not(.selected) {
      opacity: 0.5 !important;
    }

    @media (hover: hover) {
      &:hover {
        transition: 0.3s;
        &:not(:active) {
          opacity: 1;
        }
      }

      &:focus,
      &:focus-visible {
        outline-width: 0;
        opacity: 1;
      }
    }

    &.selected {
      opacity: 1;
      text-decoration: underline;
      text-decoration-thickness: from-font;
      text-underline-position: from-font;
    }
  }

  @media screen and (min-width: $media-md) {
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
  }
}
