.underline {
  height: 4px;
  width: 10px;
  background-color: $gray-0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: flex-start;

  a {
    width: fit-content;
    opacity: 0.75;

    @media (hover: hover) {
      &:hover {
        transition: 0.3s;
        opacity: 1;
      }

      &:focus,
      &:focus-visible {
        outline-width: 0;
        border: 1px solid inherit;
        opacity: 1;
      }
    }

    &.selected {
      opacity: 1;
      text-decoration: underline;
      text-decoration-thickness: from-font;
      text-underline-position: from-font;
    }
  }
}
