.default {
  font-weight: 400;
  font-style: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin: 0;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.bold {
  font-weight: 500;
}

.italic {
  font-style: italic;
}

.large {
  font-size: 1.8rem;
}
